input.error,
select.error {
  border: 1px solid red;
  outline: none !important;
}

.submit-button button:hover {
  background-color: rgb(29, 197, 43);
  cursor: pointer;
}

.submit-button button{
background-color: #f60707; /* Solid color matching the gradient */
color: white;
border: none;
padding: 10px 15px;
margin: 5px auto;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

